extends layout

block content
  h1= title
  - let hillStations= results 
  div(class="container-fluid")
  div(class="row")
    each station, index in hillStations  
      div(class="col-sm-2", onclick=`buy(${index})`)
        p #{station.name}
        p #{station.location}
        p Max Temperature: #{station.maxtemperature}°C
  script.
    function buy(index) {
    alert("You purchased item " + index);}